
<%=
    @texts && @texts.values().map{ |instance|
      "<div>
        #{instance.text}
      </div>"
    }.join('')
%>

<form action="/board/<%=@board.id%>" method="post">
  <div class="form-group">
    <textarea type="text" name="input_text"></textarea>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>